{% extends "detail.html" %}

{% block contentkeys %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page"
            href="{{ url_for('app.key', appcode=app['code']) }}">
            KEY
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
            href="{{ url_for('app.lic', appcode=app['code']) }}">
            LICENSE
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
            href="{{ url_for('app.end', appcode=app['code']) }}">
            ENCRYPT &amp; DECRYPT
        </a>
    </li>
</ul>
{% endblock %}

{% block contentkey %}
<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="key-tab" tabindex="0">
    <div class="lickey text-center">
        <div class="btn-copy mb-3">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"
                id="copyBtnlic"><i class="bi bi-clipboard"></i>
            </button>
        </div>
        <label class="form-label" for="createdby">License Key</label>
        <textarea class="form-control" id="copytextlic" style="height: 120px">{{ lickey }}</textarea>
    </div>
    <div class="pubkey text-center mt-3">
        <div class="btn-copy mb-3">
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Copy to clipboard"
                id="copyBtnpub"><i class="bi bi-clipboard"></i>
            </button>
        </div>
        <label class="form-label" for="lickey">Public Key</label>
        <textarea class="form-control" id="copytextpub" style="height: 120px">{{ pubkey }}</textarea>
    </div>
</div>
{% endblock %}

{% block contentjs %}
<script>
    const copyBtn = document.getElementById('copyBtn')
    const copytextlic = document.getElementById('copytextlic')
    const copytextpub = document.getElementById('copytextpub')

    copyBtnlic.onclick = () => {
        copytextlic.select();
        document.execCommand('copy');
    }

    copyBtnpub.onclick = () => {
        copytextpub.select();
        document.execCommand('copy');
    }
</script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}