{% extends "detail.html" %}

{% block contentlicmodal %}
                <div class="modal fade" tabindex="-1" id="license-modal">
                    <div class="modal-dialog modal-fullscreen">
                        <form action="" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">New License</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body row g-3">
                                    <div class="col-md-4 payload">
                                        <label class="form-label" for="createdby">Payload (JSON)</label>
                                        <div id="payload" class="form-control" style="height: 400px;"></div>
                                    </div>
                                    <div class="col-md-2 text-center align-self-center">
                                        <button id="generate" type="button" class="btn btn-primary">
                                            <i class="bi bi-arrow-right"></i> GENERATE
                                        </button>
                                    </div>
                                    <div class="col-md-6 license">
                                        <label class="form-label" for="createdby">License</label>
                                        <textarea name="content" id="license" class="form-control"
                                            placeholder="License will be generated here" style="height: 400px;" readonly></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="" for="createdby">Created By</label>
                                        <input class="form-control" name="createdby" id="createdby"
                                            value="{{ g.auth_email }}">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Save">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
{% endblock %}

{% block contentlics %}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page"
                        href="{{ url_for('app.key', appcode=app['code']) }}">
                        KEY
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                        href="{{ url_for('app.lic', appcode=app['code']) }}">
                        LICENSE
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('app.end', appcode=app['code']) }}">
                        ENCRYPT &amp; DECRYPT
                    </a>
                </li>
            </ul>
{% endblock %}

{% block contentlic %}
                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="license-tab" tabindex="0">
                    <button type="button " class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#license-modal">
                        <i class="bi bi-plus-circle"></i> NEW
                    </button>
                    <section>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">LICENSE</th>
                                    <th scope="col">CREATED AT</th>
                                    <th scope="col">CREATED BY</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for l in app["lics"] %}
                                <tr>
                                    <td class="lic-button">
                                        <form action="{{ url_for('app.deletelic', appcode=app['code']) }}" method="post">
                                            <a href="data:text/plain;base64,{{ l['content'] | b64encode }}"
                                                class="btn btn-primary m-2" download="license.lic">
                                                <i class="bi bi-download"></i>
                                                <span class="d-none d-sm-none d-md-inline">DOWNLOAD</span>
                                            </a>
                                            <input type="hidden" name="createdat" value="{{ l['createdat'] }}">
                                            <button class="btn btn-danger danger m-2" type="submit"
                                                onclick="return confirm('Are you sure?');">
                                                <i class="bi bi-x-lg"></i>
                                                <span class="d-none d-sm-none d-md-inline">DELETE</span>
                                            </button>
                                        </form>
                                    </td>
                                    <td>{{ l["createdat"] }}</td>
                                    <td>{{ l["createdby"] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                </div>
{% endblock %}

{% block contentjs %}
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.14.0/src-noconflict/ace.min.js"></script>
<script>
    ace.config.set("basePath", "https://cdn.jsdelivr.net/npm/ace-builds@1.14.0/src-noconflict/");

    const generateBtn = document.getElementById("generate");
    const payloadEditor = ace.edit("payload");
    payloadEditor.session.setMode("ace/mode/json");
    payloadEditor.setOptions({
        fontFamily: "Fira Code",
        fontSize: "0.875rem",
    });
    const licenseOutput = document.getElementById("license");
    generateBtn.addEventListener("click", async e => {
        const payload = payloadEditor.getValue();
        try {
            JSON.parse(payload);
        } catch {
            alert("Invalid JSON");
            return;
        }

        const formData = new FormData();
        formData.append("payload", payload);

        const response = await fetch(
            "{{ g.request_uri + url_for('app.generate_lic', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            licenseOutput.value = data.license;
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });
</script>
{%if app["lics"] | length > 0 %}
<script>
    const payload = `{{ app['lics'][0]['payload'] | safe }}`;
    const content = `{{ app['lics'][0]['content'] | safe }}`;
    payloadEditor.setValue(payload);
    console.log(payload);
    licenseOutput.textContent = content;
</script>
{% endif %}
{% endblock %}