{% extends "detail.html" %}

{% block contentends %}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                        href="{{ url_for('app.key', appcode=app['code']) }}">
                        KEY
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ url_for('app.lic', appcode=app['code']) }}">
                        LICENSE
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                        href="{{ url_for('app.end', appcode=app['code']) }}">
                        ENCRYPT &amp; DECRYPT
                    </a>
                </li>
            </ul>
{% endblock %}

{% block contentend %}
                <div class="tab-pane fade show active mt-3 mb-3" role="tabpanel" aria-labelledby="end-tab" tabindex="0">
                    <div class="row g-3">
                        <div class="col-md-5 decrypted">
                            <label class="form-label" for="createdby">DECRYPTED</label>
                            <textarea id="decrypted" class="form-control" placeholder="Enter decrypted text here" style="height: 150px;"></textarea>
                        </div>
                        <div class="col-md-2 text-center align-self-center">
                            <button id="encrypt" type="button" class="btn btn-primary m-2">
                                <i class="bi-2 bi-arrow-right"></i> ENCRYPT
                            </button>
                            <button id="decrypt" type="button" class="btn btn-success m-2">
                                <i class="bi-2 bi-arrow-left"></i> DECRYPT
                            </button>
                        </div>
                        <div class="col-md-5 encrypted">
                            <label class="form-label" for="createdby">ENCRYPTED</label>
                            <textarea id="encrypted" class="form-control" placeholder="Enter encrypted text here" style="height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block contentjs %}
<script>
    const encryptBtn = document.getElementById("encrypt");
    const decryptBtn = document.getElementById("decrypt");
    const encrypted = document.getElementById("encrypted");
    const decrypted = document.getElementById("decrypted");

    encryptBtn.addEventListener("click", async e => {
        const content = decrypted.value;
        const formData = new FormData();
        formData.append("content", content);

        const response = await fetch(
            "{{ url_for('app.encrypt', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            encrypted.value = data.result;
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });

    decryptBtn.addEventListener("click", async e => {
        const content = encrypted.value;
        const formData = new FormData();
        formData.append("content", content);

        const response = await fetch(
            "{{ uri + url_for('app.decrypt', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            decrypted.value = data.result;
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });
</script>
{% endblock %}