{% extends "detail.html" %}

{% block contentlicss %}

{% block contentlicmodal %}

<div class="modal fade" tabindex="-1" id="license-modal">
    <div class="modal-dialog modal-xl">
        <form action="" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="payload">
                        <label class="form-label" for="createdby">Payload (JSON)</label>
                        <div class="form">
                            <div id="payload" class="form-control" style="height: 400px;">{
                                "hello": "World!"
                                }
                            </div>
                        </div>
                    </div>
                    <div class="icon">
                        <button id="generate" type="button" class="btn btn-primary">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </div>
                    <div class="license">
                        <label class="form-label" for="createdby">License</label>
                        <div class="form">
                            <textarea name="content" id="license" class="form-control"
                                placeholder="License will be generated here" style="height: 400px;" readonly></textarea>
                        </div>
                    </div>
                    <div class="input-lic">
                        <label class="" for="createdby">CreatedBy</label>
                        <input class="form-control" name="createdby" id="createdby"
                            value="{{ request.form['createdBy'] }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary"></input>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
<div class="con-luar-detail">
    <div class="button-back" style="width: 70%;">
        {% block contentlics %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link " aria-current="page"
                    href="{{ url_for('app.key', appcode=app['code']) }}">KEY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active"
                    href="{{ url_for('app.lic', appcode=app['code']) }}">LICENSE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    href="{{ url_for('app.end', appcode=app['code']) }}">ENCRYPT
                    &
                    DECRYPT</a>
            </li>
        </ul>
        {% endblock %}
        {% block contentlic %}
        <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
            tabindex="0">
            <button type="button " class="btn btn-primary btn-lic" data-bs-toggle="modal"
                data-bs-target="#license-modal"><i class="bi bi-plus-circle"></i> NEW
            </button>
            <section class="table-responsive">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">LICENSE</th>
                            <th scope="col">CREATED AT</th>
                            <th scope="col">CREATED BY</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in app["lics"] %}
                        <tr>
                            <td class="lic-button">
                                <a href="data:text/plain;base64,{{ l['content'] | b64encode }}"
                                    class="btn btn-primary" download="license.lic"><i class="bi bi-download"></i>
                                    DOWNLOAD</a>
                                <form
                                    action="{{ url_for('app.deletelic', appcode=app['code']) }}"
                                    method="post">
                                    <input class="btn btn-danger danger" type="submit" value="Delete"
                                        onclick="return confirm('Are you sure?');">
                                </form>
                            </td>
                            <td>{{ l["createdat"] }}</td>
                            <td>{{ l["createdby"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
        {% endblock %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.14.0/src-noconflict/ace.min.js"></script>
<script>
    ace.config.set("basePath", "https://cdn.jsdelivr.net/npm/ace-builds@1.14.0/src-noconflict/");

    const generateBtn = document.getElementById("generate");
    const saveBtn = document.getElementById("save");
    const payloadEditor = ace.edit("payload");
    payloadEditor.session.setMode("ace/mode/json");
    payloadEditor.setOptions({
        fontFamily: "Fira Code",
        fontSize: "0.875rem",
    });
    const licenseOutput = document.getElementById("license");
    generateBtn.addEventListener("click", async e => {
        const payload = payloadEditor.getValue();
        try {
            JSON.parse(payload);
        } catch {
            alert("Invalid JSON");
            return;
        }

        const formData = new FormData();
        formData.append("payload", payload);

        const response = await fetch(
            "{{ url_for('app.generate_lic', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            licenseOutput.value = data.license;
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });

    saveBtn.addEventListener("click", async e => {
        const content = licenseOutput.value;
        const formData = new FormData();
        formData.append("content", content);
        formData.append("createdby", "fulan@binfulan.com");

        const response = await fetch(
            "{{ url_for('app.save_lic', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            const licenseModal = bootstrap.Modal.getInstance(document.getElementById("license-modal"));
            licenseModal.hide();
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });
</script>
{% endblock %}