{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Detail{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="con-luar-detail">
    <div class="button-back" style="width: 70%;">
        {% block contentkeys %}{% endblock %}
        {% block contentlics %}{% endblock %}
        {% block contentends %}{% endblock %}
        <div class="tab-content mb-3 mt-3" id="myTabContent">
                {% block contentkey %}{% endblock %}
                {% block contentlicmodal %}{% endblock %}
                {% block contentlic %}{% endblock %}
                {% block contentend %}{% endblock %}
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.14.0/src-noconflict/ace.min.js"></script>
<script>
    ace.config.set("basePath", "https://cdn.jsdelivr.net/npm/ace-builds@1.14.0/src-noconflict/");

    const generateBtn = document.getElementById("generate");
    const saveBtn = document.getElementById("save");
    const payloadEditor = ace.edit("payload");
    payloadEditor.session.setMode("ace/mode/json");
    payloadEditor.setOptions({
        fontFamily: "Fira Code",
        fontSize: "0.875rem",
    });
    const licenseOutput = document.getElementById("license");
    generateBtn.addEventListener("click", async e => {
        const payload = payloadEditor.getValue();
        try {
            JSON.parse(payload);
        } catch {
            alert("Invalid JSON");
            return;
        }

        const formData = new FormData();
        formData.append("payload", payload);

        const response = await fetch(
            "{{ url_for('app.generate_lic', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            licenseOutput.value = data.license;
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });

    saveBtn.addEventListener("click", async e => {
        const content = licenseOutput.value;
        const formData = new FormData();
        formData.append("content", content);
        formData.append("createdby", "fulan@binfulan.com");

        const response = await fetch(
            "{{ url_for('app.save_lic', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            const licenseModal = bootstrap.Modal.getInstance(document.getElementById("license-modal"));
            licenseModal.hide();
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });
</script>
<script>
    const encryptBtn = document.getElementById("encrypt");
    const decryptBtn = document.getElementById("decrypt");
    const encrypted = document.getElementById("encrypted");
    const decrypted = document.getElementById("decrypted");

    encryptBtn.addEventListener("click", async e => {
        const content = decrypted.value;
        const formData = new FormData();
        formData.append("content", content);

        const response = await fetch(
            "{{ url_for('app.encrypt', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            encrypted.value = data.result;
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });

    decryptBtn.addEventListener("click", async e => {
        const content = encrypted.value;
        const formData = new FormData();
        formData.append("content", content);

        const response = await fetch(
            "{{ url_for('app.decrypt', appcode=app['code']) }}", {
                method: "POST",
                body: formData,
            });

        if (response.ok) {
            const data = await response.json();
            decrypted.value = data.result;
        } else {
            alert(`${response.status} ${response.statusText}\r\n\r\r\n${await response.text()}`);
        }
    });

    // TODO: decrypt
</script>


{% endblock %}