{% extends "base.html" %}

{% block header %}
	<h1>{% block title %}Apps{% endblock %}</h1>
	
	{% if g.user %}
	{% endif %}
{% endblock %}

{% block content %}
<section class="table-content">
	<a type="sumbit" class="btn btn-success mb-4" href="{{ url_for('app.create') }}">New</a>
	<table class="table text-center">
		<thead>
		  <tr class="table-primary">
			<th scope="col">Application</th>
			<th scope="col">Secret Algorithm</th>
			<th scope="col">Licenses</th>
			<th scope="col">Action</th>
		  </tr>
		</thead>
		<tbody>
		{% for a in apps %}
		  <tr>
			<th scope="row" class="table-secondary"><a href="{{ a['code'] }}">{{ a["code"] }}</a></th>
			<td class="table-secondary">{{ a["algorithm"] }}</td>
			<td class="table-secondary">{{ a["lic"] }}</td>
			<td class="button-index table-secondary">
				<a type="sumbit" class="btn btn-warning" href="{{ url_for('app.update', appcode=a["code"]) }}">Edit</a>
				<form action="{{ url_for('app.delete', appcode=a['code']) }}" method="post">
					<input class="btn btn-danger danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
				</form>
			</td>
		  </tr>
		{% endfor %}
		</tbody>
	  </table>
</section>

{% endblock %}
