{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container">
    <form method="post">
        <div class="form1">
            <div class="input">
                <label class="form-label" for="createdby">CreatedBy</label>
                <input class="form-control" name="createdby" id="createdby"
                    value="{{ request.form['createdby'] or a['createdby'] }}">
            </div>
            <div class="input">
                <label class="form-label" for="algorithm">Secret Algorithm</label>
                <select class="btn btn-primary dropdown-toggle" name="algorithm" id="algorithm"
                    value="{{ request.form['algorithm'] or a['algorithm'] }}">
                    <option></option>
                    {% if a['algorithm'] == "EC256"%}
                    <option selected>EC256</option>
                    {% else %}
                    <option>EC256</option>
                    {% endif %}

                    {% if a['algorithm'] == "Ed25519"%}
                    <option selected>Ed25519</option>
                    {% else %}
                    <option>Ed25519</option>
                    {% endif %}
                </select>
            </div>
            
        </div>
        <div class="tab-pane">
                <div class="signaturkey text-center">
                    <label class="form-label" for="signkey">SignaturKey</label>
                    <div class="form">
                        <textarea class="form-control" placeholder="Leave a comment here" name="signkey"
                            style="height: 120px"></textarea>
                    </div>
                </div>
                <div class="privatekey text-center mt-3">
                    <label class="form-label" for="privkey">PrivateKey</label>
                    <div class="form">
                        <textarea class="form-control" placeholder="Leave a comment here" name="privkey"
                            style="height: 120px"></textarea>
                    </div>
                </div>
            </div>
        <div class="con-button mt-2">
            <input class="button-save btn btn-success" type="submit" value="Save">
        </div>
    </form>
</div>
{% endblock %}

<!-- or Application['AppCode'] -->