html {
    font-family: serif;
}

.content {
    width: 100%;
}

.table-content {
    width: 80%;
    margin: auto;
}

.content > header > h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    max-width: 50%;
    margin: auto;
}

.container-detail {
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-detail > div {
    width: 60%;
}

.payload .ace-editor {
    height: 400px;
}

.license textarea,
.signkey textarea,
.privkey textarea,
.lickey textarea,
.pubkey textarea {
    font-family: "Fira Code", monospace;
    font-size: 0.875rem;
}

.btn-copy{
    float: right;
    position: relative;
}

#copyBtnlic{
    font-size: 12px;
}

#copyBtnpub{
    font-size: 12px;
}

@media (max-width: 1199px) {
    .container-detail > div {
        width: 90%;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 60%;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 90%;
    }

    .table-content {
        width: 90%;
    }

    button#generate > .bi-arrow-right::before,
    button#encrypt > .bi-arrow-right::before {
        content: "\f128";
    }

    button#decrypt > .bi-arrow-left::before {
        content: "\f148";
    }
}